alias ll="ls -Atghl --color=auto"
alias md="mkdir"
alias ytmp3="youtube-dl --extract-audio --audio-format mp3 --no-playlist"
alias v="vim -p"
alias pss="ps aux | grep -i "
alias pogoda="curl pl.wttr.in/Wrocław"
