URxvt*background: black
URxvt*foreground: white
!URxvt*font: xft:monospace:size=13
URxvt*font: xft:DejaVu Sans Mono for Powerline-10:pixelsize=14
URxvt*scrollBar: false
URxvt*intensifyStyles: false
URxvt*perl-ext-common: default,matcher,font-size,url-select,keyboard-select
! disable switching to special modes on Shift+Ctrl
URxvt.iso14755: false
URxvt.iso14755_52: false
