#!/bin/bash

alias ls='ls --color=tty'
alias ll="ls -Atghl --color=auto"
alias ytmp3="youtube-dl --extract-audio --audio-format mp3 --no-playlist"
alias v="vim -p"
alias pss="ps aux | grep -i "
alias pogoda="curl pl.wttr.in/Wrocław"
alias oo="xdg-open"
alias treec="tree -C | less -R"

lsuspend() {
  betterlockscreen --lock & systemctl suspend
}

o() {
  for x in "$@"; do
    xdg-open "$x" & disown
  done
}

kunity() {
  pss "[E]ditor/Unity " | awk '{ print $2 }' | xargs kill -9
}



# dirs
if [ -n "$ZSH_VERSION" ]; then
  ## Changing/making/removing directory
  setopt auto_pushd
  setopt pushd_ignore_dups
  setopt pushdminus
  alias -g ...='../..'
  alias -g ....='../../..'
  alias -g .....='../../../..'
  alias -g ......='../../../../..'

  compdef _dirs d
fi

alias dirs="dirs -v"
alias -- -='cd -'
alias 1='cd -'
alias 2='cd -2'
alias 3='cd -3'
alias 4='cd -4'
alias 5='cd -5'
alias 6='cd -6'
alias 7='cd -7'
alias 8='cd -8'
alias 9='cd -9'
function d () {
  if [[ -n $1 ]]; then
    dirs "$@"
  else
    dirs -v | head -10
  fi
}

# git
alias glsi="git ls-files -i --exclude-from=.gitignore"
alias g="git status"
alias ga="git add"
alias gs="git show"
alias gd="git diff"
alias gdc="git diff --cached"
alias gss="git status -s"
alias gaa="git add -A"
alias gcm="git commit -m "
alias gp="git log --pretty --oneline --all --graph"
alias gl="git log --graph --pretty=format:'%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) %C(cyan)<%an>%Creset' --abbrev-commit"
alias amen="git commit --amen"
alias ameno="git commit --amen --no-edit"
alias ssync="git submodule sync --recursive && git submodule update --init --recursive"
alias dsync="git submodule deinit --all -f"
alias dtags='git log --tags --simplify-by-decoration --pretty="format:%ai %d"'
alias gdm='git diff master@{1} master'

# svn
alias svnd='svn diff --git | vimpager'

# yocto
alias yocto-dev='ssh 10.181.195.118'
alias yocto-dev2='ssh 10.181.199.242'
alias yocto-dev3='ssh wrlinb181.emea.nsn-net.net'
alias yocto-dev4='ssh 10.181.200.222'
alias yocto-dev5='ssh 10.181.200.113'

piscan() {
  sudo nmap -sP 192.168.1.0/24 | awk '/^Nmap/{ip=$NF}/B8:27:EB/{print ip}'
}

take() {
  mkdir -p "$@" && cd "${@:$#}" || return
}

swap() {
  [[ ! -n $1 ]] || [[ ! -n $2 ]] && echo "Not enough arguments!" && return 1
  local TMPFILE=tmp.$$
  mv "$1" ${TMPFILE} && mv "$2" "$1" && mv ${TMPFILE} "$2"
}


agg() {
  ag -U --ignore build "$@" --color | less -R
}
alias vps='ssh tojatos@51.83.128.23 -p53428'
