#!/bin/bash

alias vim="nvim"
alias ls='ls --color=tty'
alias ll="ls -Atghl --color=auto"
alias ytmp3="youtube-dl --extract-audio --audio-format mp3 --no-playlist"
alias v="vim -p"
alias pss="ps aux | grep -i "
alias pogoda="curl pl.wttr.in/Wrocław"
alias oo="xdg-open"
alias treec="tree -C | less -R"
alias a="source .venv/bin/activate"


ii() {
  for x in "$@"; do
    xdg-open "$x" & disown
  done
}


# git
alias glsi="git ls-files -i -c --exclude-from=.gitignore"
alias g="git status"
alias ga="git add"
alias gs="git show"
alias gd="git diff"
alias gdc="git diff --cached"
alias gss="git status -s"
alias gaa="git add -A"
alias gcm="git commit -m "
alias gp="git log --pretty --oneline --all --graph"
alias gl="git log --graph --pretty=format:'%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) %C(cyan)<%an>%Creset' --abbrev-commit"
alias amen="git commit --amen"
alias ameno="git commit --amen --no-edit"
alias ssync="git submodule sync --recursive && git submodule update --init --recursive"
alias dsync="git submodule deinit --all -f"
alias dtags='git log --tags --simplify-by-decoration --pretty="format:%ai %d"'
alias gdm='git diff master@{1} master'

# svn
alias svnd='svn diff --git | vimpager'


take() {
  mkdir -p "$@" && cd "${@:$#}" || return
}

swap() {
  [[ ! -n $1 ]] || [[ ! -n $2 ]] && echo "Not enough arguments!" && return 1
  local TMPFILE=tmp.$$
  mv "$1" ${TMPFILE} && mv "$2" "$1" && mv ${TMPFILE} "$2"
}


agg() {
  ag -U --ignore build "$@" --color | less -R
}
alias work='cd ~/Scripts'
